<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:icon="@mipmap/ic_launcher">
        <receiver
            android:name="rek.remindme.common.AlarmReceiver"
            tools:node="remove" />
    </application>
</manifest>
